@{
    Layout = "_Layout";
    ViewData["Title"] = "Ödev - Anasayfa";
}

<h1>Hoş Geldiniz!</h1>
<p>
    Bu sayfa Web Tabanlı Programlama dersi Final Sınavı Ödevi çerçevesinde hazırlanmıştır.
    Bu ödevde örnek oluşturması açısından beş adet otomobil seçilerek bir araç bilgilendirme ve karşılaştırma sayfası yapılması amaçlanmıştır. Öncelikle anasayfada "c segmenti" araç tarifi verilmiş sekmeler aracılığıyla araclar html ve karsilastir html sayfalarına referanslar atanmıştır.
</p>
<h4>
    C Segmenti Nedir?
</h4>
<p>
    Otomobiller, A-S arası belirlenen kategoriler içerisinde dokuz farklı segmente ayrılıyor. Diğer adları “kompakt sınıf” veya “alt-orta sınıf”tır. Orta hacimlerinden dolayı bu sınıftaki araçlar “küçük aile otomobili” şeklinde de anılmaktadır.
    <ul type="circle">
        <li>C segmenti araçlar 410-460 santimetre aralığındadır.</li>
        <li>A ve B segmentlerine nazaran daha güçlü bir motor yapısına sahip olan segmentteki araçlar, uzun yolculuklarda da kullanıma uygunluk gösterir.</li>
        <li>Kompakt sınıf ya da orta sınıf olarak da adlandırılan C segmenti araçlar, hem aile hem de şahsi kullanımlar için uygun bir seçenektir.</li>
        <li>Şehir içi kullanımın yanı sıra uzun yolda da keyifli bir sürüş deneyimi elde etmenize yardımcı olan C segmenti araçlar yüksek performansları ile dikkat çeker.</li>
        <li>Hatchback, sedan, coupe, cabriolet, roadster, station wagon, CC, SUV, CUV ve MVP gibi modeller üzerinden inceleyebileceğiniz C segment otomobiller, geniş iç hacimleri ile kullanıcılarına konforlu bir yolculuk sağlamaktadır.</li>
    </ul>
</p>
